<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>MssPayProSaaS</h1>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav
    [ngClass]="{ expanded: !isCollapsed }"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? false : true"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/api/add">
        <span class="entry">
          <mat-icon>add</mat-icon>
          <!-- Changed icon to 'add' for the Add link -->
          <span *ngIf="!isCollapsed">Add</span>
        </span>
      </a>
      <a mat-list-item routerLink="/api/list">
        <span class="entry">
          <mat-icon>list</mat-icon>
          <span *ngIf="!isCollapsed">List</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
